$blue : #213F7D;
$red: rgba(228, 3, 59, 1);
$light-red: rgba(228, 3, 59, .2);
$green: rgba(57, 205, 204, 1);
$s-green: rgba(57, 205, 98, 1);
$s-bg: rgba(57, 205, 98, .1);
$bg-green: rgba(57, 205, 204, .1);
$text: rgba(84, 95, 125, 1);
$light-text: rgb(84 95 125 / .1);
$bg: rgb( 0 0 0 / .1);
$yellow: rgb(233 178 0 / 1);
$light-yellow: rgb( 233 178 0 / .1);
$font: 'Avenir Next';
$light-blue: rgba(33, 63, 125, 0.1)